{% extends 'base.html' %}

{% block content %}
{% if query %}

  <div class="p-bottom-70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="shortcode_module_title">
                        <div class="dashboard__title">
                            <h3>Search Results</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for result in page.object_list %}

                <div class="col-lg-6 col-sm-12">
                    <div class="card_style2">
                        <div class="save_job">
                            <span class="icon-heart" title="Save Job" data-toggle="tooltip"></span>
                        </div>
                        <h4 class="card_style2__title"><a href="{{ result.object.get_absolute_url}}">{{ result.object.title }}</a></h4>
                        <div class="card_style2__location_type">
                            <p>
                                <span class="icon-location-pin"></span>London
                            </p>
                            <p>
                                <span class="icon-wallet"></span>$30k - $35k
                            </p>
                            <span class="type primarybg">Full Time</span>
                        </div>
                        <a href="job-detail.html">Learn More and Apply
                            <span class="icon-arrow-right-circle"></span>
                        </a>
                    </div>
                    <!-- end /.single_job -->
                </div>
                <!-- end /.col-md-6 -->
                 {% empty %}
                <p>No results found.</p>
            {% endfor %}
            </div>
            

        </div>
    </div>

    {% endif %}
    

    
{% endblock %}