{% extends 'base.html' %}

{% block content %}

{% if query %}
<!--================================
    START FILTER AREA
=================================-->
<div class="filter-area product-filter-area filter-area2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="filter-bar">
                    <div class="filter__option filter--select">
                        <div class="select-wrap">
                            <select name="price">
                                <option value="12">15 Items per page</option>
                                <option value="15">25 Items per page</option>
                                <option value="25">50 Items per page</option>
                            </select>
                            <span class="icon-arrow-down"></span>
                        </div>
                    </div>
                    <!-- end /.filter__option -->
                </div>
                <!-- end /.filter-bar -->
            </div>
            <!-- end /.col-md-12 -->
        </div>
        <!-- end filter-bar -->
    </div>
</div>
<!-- end /.filter-area -->
<!--================================
    END FILTER AREA
=================================-->
    <!--================================
    START Product Grid
=================================-->

    <section class="product-grid p-bottom-100">
        <div class="container">
            <div class="row">
                <!-- start .col-md-3 -->
                <div class="col-xl-3 col-lg-4 col-md-12 order-lg-0 order-md-1 order-sm-1 order-1">
                    <!-- start aside -->
                    <aside class="sidebar product--sidebar">
                        <div class="sidebar-card card--category">
                            <a class="card-title" href="#collapse1" data-toggle="collapse" href="#collapse1" role="button"
                            aria-expanded="false" aria-controls="collapse1">
                                <h5>Categories
                                    <span class="icon-arrow-down"></span>
                                </h5>
                            </a>
                            <div class="collapse show collapsible-content" id="collapse1">
                                <ul class="card-content">
                                    <li>
                                        <a href="#">
                                            Wordpress
                                            <span class="item-count">35</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Landing Page
                                            <span class="item-count"> 45</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Psd Template
                                            <span class="item-count">13</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end /.collapsible_content -->
                        </div>
                        <!-- end /.sidebar-card -->

                        <div class="sidebar-card card--filter">
                            <a class="card-title" href="#collapse2" data-toggle="collapse" href="#collapse2" role="button"
                            aria-expanded="false" aria-controls="collapse2">
                                <h5>Filter Products
                                    <span class="icon-arrow-down"></span>
                                </h5>
                            </a>
                            <div class="collapse show collapsible-content" id="collapse2">
                                <ul class="card-content">
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="opt1" class="custom-control-input" name="filter_opt">
                                            <label class="custom-control-label" for="opt1">
                                                Trending Products</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="opt2" class="custom-control-input" name="filter_opt">
                                            <label class="custom-control-label" for="opt2">
                                                Popular Products</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="opt3" class="custom-control-input" name="filter_opt">
                                            <label class="custom-control-label" for="opt3">
                                                New Products</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="opt4" class="custom-control-input" name="filter_opt">
                                            <label class="custom-control-label" for="opt4">
                                                Best Seller</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="opt5" class="custom-control-input" name="filter_opt">
                                            <label class="custom-control-label" for="opt5">
                                                Best Rating</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="opt6" class="custom-control-input" name="filter_opt">
                                            <label class="custom-control-label" for="opt6">
                                                Free Support</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="opt7" class="custom-control-input" name="filter_opt">
                                            <label class="custom-control-label" for="opt7">
                                                On Sale</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- end /.sidebar-card -->
                    </aside>
                    <!-- end aside -->
                </div>
                <!-- end /.col-md-3 -->
                <!-- Start .product-list -->

                <div class="col-xl-9 col-lg-8 col-md-12 order-lg-1 order-md-0 order-sm-0 order-0 product-list">
                    <div class="row">
                        <!-- Start .col-md-4 -->
                    {% for result in page.object_list %}

                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="product-single latest-single">
                                <div class="product-thumb">
                                    <figure>
                                        <img src="{{ result.object.image.url }}" alt="" class="img-fluid">
                                        <figcaption>
                                            <ul class="list-unstyled">
                                                <li>
                                                    <a href="">
                                                        <span class="fas fa-shopping-basket"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ result.object.get_absolute_url }}">View</a>
                                                </li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="product-rating2">
                                        <ul class="list-unstyled">
                                            <li class="stars">
                                                    <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Ends: .product-thumb -->
                                <div class="product-excerpt">
                                    <h5>
                                        <a href="">{{ result.object.title }}</a>
                                    </h5>
                                    <ul class="titlebtm">
                                        <li>
                                            <img class="auth-img" src="../static/img/auth-img2.png" alt="author image">
                                            <p>
                                                <a href="#">AazzTech</a>
                                            </p>
                                        </li>
                                    </ul>
                                    <ul class="product-facts clearfix">
                                        <li class="price">${{ result.object.price }}</li>
                                      
                                        <li class="product-fav">
                                            <span class="fas fa-heart text-danger" title="Add to collection" data-toggle="tooltip"></span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Ends: .product-excerpt -->
                            </div>
                            <!-- Ends: .product-single -->
                        </div>
                        <!-- Ends: .col-md-4 -->
                    {% empty %}
                        <!--================================
                            START 404 AREA
                    =================================-->
                   
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 offset-lg-3 text-center">
                                    <img src="../static/img/404.png">
                                    <div class="not_found">
                                        <h2>Oops! Results Not Found</h2>
                                        <a href="{% url 'core:home' %}" class="btn btn--md btn-primary">Back to Home</a>
                                    </div>
                                    <div class="not_found">
                                        <h2>or Search Again</h2>
                                        <div class="search_box2">
                                            <form action="{% url 'haystack_search' %}" class="autocomplete" >
                                                <input id="q" name="q" type="text" autocomplete="off" class="text_field" placeholder="Search your products...">
                                                <input type="submit" value="Search!" class="search-btn btn--lg btn-success">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!--================================
                                END 404 AREA
                    =================================-->
                    {% endfor %}

                    
                    </div>

                    <!-- Start Pagination -->
                    <nav class="pagination-default m-bottom-md">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa fa-long-arrow-left"></i></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">10</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa fa-long-arrow-right"></i></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- Ends: /pagination-default -->
                </div>
                <!-- Ends: .product-list -->
            </div>
        </div>
    </section>
    <!--================================
        START Product Grid
    =================================-->



{% endif %}
    

<script type="text/javascript">
$(function () {
    window.autocomplete = new Autocomplete({
    form_selector: '.autocomplete',
    url: '{% url 'core:autocomplete' %}'
    });
    window.autocomplete.setup()
});
</script>
{% endblock content %}