


{% extends 'base.html' %}

{% block content %}

{% if query %}

  <div class="p-bottom-70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="shortcode_module_title">
                        <div class="dashboard__title">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for result in page.object_list %}

                    <div class="col-lg-6 col-sm-12">
                        <div class="card_style2">
                            <div class="save_job">
                                <span class="fas fa-heart text-danger" title="Save Item" data-toggle="tooltip"></span>
                            </div>
                            <h4 class="card_style2__title"><a href="{{ result.object.get_absolute_url}}">{{ result.object.title }}</a></h4>
                            <div class="card_style2__location_type">
                                <p>
                                    <span class="fas fa-wallet"></span> ${{ result.object.price }}
                                </p>
                                <p>
                                    <span class="fas fa-tag"></span>{{ result.object.discount_price}}
                                </p>
                                <span class="type primarybg">{{ result.object.category }}</span>
                            </div>
                            <a href="{{ item.get_absolute_url }}"> Read More
                                <span class="fas fa-arrow-circle-right"></span>
                            </a>
                        </div>
                        <!-- end /.single_job -->
                    </div>
                    <!-- end /.col-md-6 -->
                    {% empty %}
                   
                    <!--================================
                            START 404 AREA
                    =================================-->
                   
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 offset-lg-3 text-center">
                                    <img src="../static/img/404.png">
                                    <div class="not_found">
                                        <h2>Oops! Results Not Found</h2>
                                        <a href="{% url 'core:home' %}" class="btn btn--md btn-primary">Back to Home</a>
                                    </div>
                                    <div class="not_found">
                                        <h2>or Search Again</h2>
                                        <div class="search_box2">
                                            <form action="{% url 'haystack_search' %}" class="autocomplete" >
                                                <input id="q" name="q" type="text" autocomplete="off" class="text_field" placeholder="Search your products...">
                                                <input type="submit" value="Search!" class="search-btn btn--lg btn-success">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!--================================
                                END 404 AREA
                    =================================-->

                {% endfor %}
            </div>
            

        </div>
    </div>

    {% endif %}
    

<script type="text/javascript">
$(function () {
    window.autocomplete = new Autocomplete({
    form_selector: '.autocomplete',
    url: '{% url 'core:autocomplete' %}'
    });
    window.autocomplete.setup()
});
</script>
{% endblock content %}