{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <!--================================
        START LOGIN AREA
=================================-->
    <section class="signup_area section--padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                       <form class="form-group" method="POST" action="{% url 'account_login' %}">
                        <div class="cardify signup_form">
                            <div class="login--header">
                                <h3>Create Your Account</h3>
                                <p>Don't have an account?
                                    <a href="{% url 'account_signup' %}">Sign up</a>
                                </p>
                            </div>
                            <!-- end .login_header -->

                            <div class="login--form">
                              <form class="form-group" method="POST" action="{% url 'account_login' %}">
                                {% csrf_token %}
                                {{ form|crispy }}
                                {% if redirect_field_value %}
                                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}
                                <button class="btn btn-primary" type="submit">Log in</button>
                            </div>
                            <!-- end .login--form -->
                        </div>
                        <!-- end .cardify -->
                    </form>
                </div>
                <!-- end .col-md-6 -->
            </div>
            <!-- end .row -->
        </div>
        <!-- end .container -->
    </section>
<!--================================
        END LOGIN AREA
=================================-->

{% endblock %}