// Generate theming color classes
@each  $key, $color in ($theme-colors) {
  .color-#{$key}{
    color: #{$color};
  }
  .bg-#{$key}{
    background: #{$color};
  }
  .b-#{$key}{
    border-color: #{$color} !important;
  }
  .b-bottom-10-#{$key}{
    border-bottom: 10px solid #{$color};
  }
}

//Generate border colors with four directions
@mixin border_generator($from, $to, $jump, $side){
  @for $i from $from through $to{
    @if $i%$jump == 0{
      @each  $key, $color in ($theme-colors){
        .b-#{$side}-#{$i}-#{$key}{
          border-#{$side}: #{$i}px solid #{$color};
        }
      }
    }
  }

}
@include border_generator(0, 5, 1, top);
@include border_generator(0, 5, 1, right);
@include border_generator(0, 5, 1, bottom);
@include border_generator(0, 5, 1, left);

//Generate border colors
@mixin border_generator2($from, $to, $jump){
  @for $i from $from through $to{
    @if $i%$jump == 0{
      @each  $key, $color in ($theme-colors){
        .b-#{$i}-#{$key}{
          border: #{$i}px solid #{$color} !important;
        }
      }
    }
  }
}
@include border_generator2(0, 5, 1);


