/**/
@import "mixins";
/*@import "../mixins/mixins";*/
/*****************************
	-- GENERAL
*****************************/

// transition
$transition: 0.3s;

//svg font
svg text{
  font-family: "Work Sans", sans-serif !important;
}

// primary colors
.primary{
  @extend .color-primary;
}
.secondary{
  @extend .color-secondary;
  @extend .color-secondary;
}

/* Background Image */
.bgimage{
  position: relative;
  &:before{
    z-index:1;
  }
}
.content_above{
  position: relative;
  z-index: 2;
}
/* Background image holder */
.bg_image_holder{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat;
  z-index: 0;
  transition: opacity .3s linear;
  -webkit-transition: opacity .3s linear;
  opacity: 0;
  img{
    display: none;
  }
}
// multi colors
.secondary{
  @extend .color-secondary;
}
.warning{
  @extend .color-warning;
}
.info{
  @extend .color-info;
}
.danger{
  @extend .color-danger;
}


// multi colors backgroun
.primarybg{
  @extend .bg-primary;
}
.secondarybg{
  @extend .bg-secondary;
}
.mcolorbg1{
  @extend .bg-secondary;
}
.mcolorbg2{
  @extend .bg-warning;
}
.mcolorbg3{
  @extend .bg-info;
}
.mcolorbg4{
  @extend .bg-danger;
}
.bg-white{
  @extend .bg-light;
}
.dark-bg{
    background: $dark-bg;
}

// multi colors with transparent bg
.primarybg.transparent-bg{
    background: transparentize($primary, 0.95);
}
.secondarybg.transparent-bg{
    background: transparentize($secondary, 0.95);
}
.mcolorbg1.transparent-bg{
    background: transparentize($secondary, 0.95);
}
.mcolorbg2.transparent-bg{
    background: transparentize($warning, 0.95);
}
.mcolorbg3.transparent-bg{
    background: transparentize($info, 0.95);
}
.mcolorbg4.transparent-bg{
    background: transparentize($danger, 0.95);
}

/* tooltip */
.tooltip{
  display: block;
  .tooltip-inner{
    font-size: 13px;
    text-align: left;
    display: block;
    @extend .bg-secondary;
    border-radius: 2px;
  }
  .arrow:before{
      border-top-color: $secondary;
  }
}

// SECTION PADDING
.section--padding{
  padding-top: 100px;
  padding-bottom: 100px;
}
.section--padding2 {
  padding: 105px 0 75px;
}
.section--padding3{
    padding-top: 30px;
    padding-bottom: 105px;
  }
.section-title{
  text-align: center;
  padding-bottom: 45px;
  h1{
    margin-bottom: 24px;
    span{
        @extend .color-primary;
    }
  }
  p{
    padding: 0 200px;
    line-height: 32px;
    margin-bottom: 0;
    color: $text-color2;
    font-size: 18px;
  }
}
.section-title2{
    margin-bottom: 50px;
    ul{
        display: flex;
        justify-content: space-between;
        margin: 0;
        li{
            display: flex;
            align-items: center;
        }
    }
}
.section-title-light{
    h1{
        color: #fff;
    }
}

//Blockquote
blockquote, .blockquote{
  background: #f2f8fe;
  line-height: 38px;
  color: $text-color2;
  font-style: normal;
  padding: 45px 25px 45px 40px;
  @extend .b-left-3-primary;
  margin-bottom: 20px;
}


//section product title area
.product-title-area {
  &:before, &:after{
    display: table;
    content:"";
    clear: both;
  }
  background: #fff;
  padding: 32px 30px 32px;
  margin-bottom: 30px;
  border-radius: 4px;
  .product__slider-nav{
    float: right;
    @extend .bg-secondary;
    span{
      line-height: 45px;
      color: #fff;
      cursor: pointer;
      width: 52px;
      display: inline-block;
      text-align: center;
    }
  }
  .date_area{
    form{
      display:flex;
      flex-wrap: wrap;
    }
    p{
      float: left;
    }
    .input_with_icon, .select-wrap{
      margin-right: 10px;
    }
    .select-wrap{
      select{
        height: 50px;
      }
    }
    .btn{
      height: 48px;
    }
    .btn:hover{
      @extend .bg-primary;
      color: #fff;
    }
  }
  &.product-title-area2{
      padding: 0 30px;
      margin-bottom: 0;
  }
}
.product__title{
  float: left;
  h2{
    line-height: 45px;
  }
}
.filter__menu{
  float: right;
  position: relative;
  margin-top: 10px;
  p{
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    color: #747b86;
    margin-right: 15px;

  }
  .filter__menu_icon{
    display: inline-block;
    vertical-align: middle;
    margin-top: 6px;
    width: 17px;
    svg{
      height: 16px;
      cursor: pointer;
      &:hover{
        circle{
          fill: #0673ec;
        }
      }
      circle{
        fill: #a3b1c4;
      }
    }
    .filter_dropdown{
      position: absolute;
      min-width: 183px;
      padding: 20px 27px;
      top: 45px;
      z-index: 3;
      background: #fff;
      right: -15px;
      box-shadow: 0 5px 40px transparentize(#52555a, .8);
      display: none;
      &.active{
        display: block;
      }
      &:before{
        position: absolute;
        content: "";
        border-bottom: 10px solid #fff;
        border-left: 10px solid transparent;
        right: 15px;
        bottom: 100%;
        border-right: 10px solid transparent;
      }
      li{
        a{
          color: #747b86;
          display: block;
          transition: $transition;
          line-height: 28px;
          &:hover{
            @extend .color-primary;
          }
        }
      }
    }
  }
}

// transparent bg
.transparent{
  background: transparent;
}

// for rounded area
.rounded{
  border-radius: 200px;
}

//tags css
.tags{
  ul >li{
    display: inline-block;
  }
}
.tags--round{
  ul > li{
    a{
      color: #868c96;
      line-height: 28px;
      background: #f1f3f6;
      display: inline-block;
      padding: 0 17px;
      margin-right: 4px;
      border-radius: 50px;
      transition: $transition;
      &:hover{
        @extend .bg-secondary;
        color: #fff;
      }
    }
  }
}

// background colors
.bgcolor{
  background: $bgcolor;
}
.bgcolor2{
  background: $bgcolor2;
}

// dropdown
.dropdown{
  position: absolute;
  min-width: 271px;
  background: #fff;
  padding: 19px 30px;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: $transition;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 40px transparentize(#52555a, .8);
  &.active{
    opacity: 1;
    visibility: visible;
  }
  li{
    a {
      font-size: 15px;
      line-height: 32px;
      display: block;
      color: #747b86;
      &:hover{
        @extend .color-primary;
      }
      span{
        float: right;
      }
    }
  }
  &:before{
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    bottom: 100%;
  }

  /* messaginf page dropdown modifier */
  &.messaging_dropdown{
    li{
      a{
        color: #54667a;
        span{
          float: none;
          padding-right: 10px;
        }
        &:hover{
          @extend .color-primary;
        }
      }
    }
  }
}

// range slider
.range-slider.ui-slider{
  height:6px;
  background: #efedf3;
  border-radius: 6px;
  .ui-slider-range{
    @extend .bg-primary;
  }
  .ui-slider-handle{
    height: 18px;
    width: 18px;
    @extend .bg-secondary;
    border-radius: 50px;
    top: -6px;
    z-index: 2;
    &:focus{
      outline: 0;
    }
    &:before{
      content: '';
      position: absolute;
      height: calc(100% - 8px);
      width: calc(100% - 8px);
      background: #fff;
      left: 4px;
      top: 4px;
      z-index: -1;
      border-radius: 50%;
    }
  }
}
.price-ranges{
  padding-top: 34px;
  text-align: left;
  span{
    line-height: 32px;
    display: inline-block;
    background: transparentize($primary, .9);
    width: 80px;
    @extend .color-primary;
    text-align: center;
  }
}
.search-update{
    margin-top:30px;
}


// rating
.rating{
  display: inline-block;
  vertical-align: middle;
  ul{
    float: left;
    li{
      float: left;
      margin-right: 3px;
      span.fa-star, span.fa-star-half-o{
        color: #ffc000;
      }
      span.fa-star-o{
        color: #7e7e7e;
      }
    }
  }
  .rating__count{
    display: inline-block;
    color: #6f7d8d;
    vertical-align: middle;
    margin-left: 5px;
  }
}

// custom radio button
.custom-checkbox2{
    input[type='checkbox']{
      display: none;
      &:checked + label span:before{
        opacity: 1;
        visibility: visible;
        transform: scale(1);
      }
    }
    label{
      font-size: 15px;
      font-weight: 400;
      margin: 0;
      line-height: 36px;
      cursor: pointer;
      text-transform: none;
      color: $text-color2;
      span.square{
        height: 15px;
        margin-right: 12px;
        vertical-align: middle;
        width: 15px;
        background: #f6f7fa;
        display: inline-block;
        border: 1px solid #e6e9ed;
        border-radius: 1px;
        position: relative;
        &:before{
          content: '\f00c';
          font-family: 'FontAwesome',sans-serif;
          position: absolute;
          height: 15px;
          width: 15px;
          text-align: center;
          font-size: 9px;
          bottom: -1px;
          transition: 0.2s;
          left: -1px;
          opacity: 0;
          transform: scale(0.5);
          border-radius: 1px;
          @extend .bg-primary;
          color: #fff;
          line-height: 16px;
        }
      }
    }
  }
  .custom-radio{
    @extend .custom-checkbox2;
    input[type='radio']{
      display: none;
      &:checked + label span:before{
        opacity: 1;
        visibility: visible;
        transform: scale(1);
      }
    }
    label{
        font-size: 15px;
        font-weight: 400;
        margin: 0;
        line-height: 36px;
        cursor: pointer;
        text-transform: none;
        span.circle{
          height: 20px;
          margin-right: 12px;
          vertical-align: middle;
          width: 20px;
          background: #fff;
          display: inline-block;
          border: 4px solid #e6e9ed;
          border-radius: 50%;
          position: relative;
          &:before{
            content: '\f00c';
            font-family: 'FontAwesome',sans-serif;
            position: absolute;
            height: 20px;
            width: 20px;
            text-align: center;
            font-size: 12px;
            bottom: -4px;
            transition: 0.2s;
            left: -4px;
            opacity: 0;
            transform: scale(0.5);
            border-radius: 50%;
            @extend .bg-primary;
            color: #fff;
            line-height: 20px;
          }
        }
      }
    &.custom_radio--big{
      span.circle{
        height: 30px;
        width: 30px;
        border-width: 5px;
        &:before{
          width: 30px;
          height: 30px;
          font-size: 16px;
          line-height: 30px;
          border-width: 5px;
        }
      }
    }
  }

  .radio-group{
    .label{
      display: block;
      text-align: left;
    }
    .custom-radio{
      display: inline-block;
    }
    .custom-radio+.custom-radio{
      margin-left: 30px;
    }
  }

.pricing-options2{
    .custom-radio{
        span.circle{
            &:before{
              @extend .bg-secondary;
            }
        }
    }
}

/* custom checkbox area css*/
.custom_checkbox{
  position: relative;
  margin-top: 10px;
  input[type='checkbox']{
    display: none;
    &:checked + label .shadow_checkbox{
      border: transparent;
      &:before{
        visibility: visible;
      }
    }
  }
  label{
    margin-bottom: 0;
    .label_text{
      font-weight: 400;
      color: #555;
      display: inline-block;
      vertical-align: middle;
      margin-left: 11px;
    }
    .shadow_checkbox{
      height: 18px;
      width: 18px;
      top: 0;
      border: 1px solid #d3d3d3;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      border-radius: 2px;
      &:before{
        position: absolute;
        height:100%;
        width: 100%;
        top: 0;
        content: '\f00c';
        font-size: 12px;
        visibility: hidden;
        text-align: center;
        color: #fff;
        line-height: 18px;
        font-family: FontAwesome, sans-serif;
        @extend .bg-primary;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
      }
    }
  }
}
/* custom upload field */
.custom_upload{
  p{
    font-weight: 500;
    font-size: 16px;
    color: #000;
    margin-bottom: 12px;
    span{
      font-size: 15px;
      line-height: 26px;
      font-weight: 400;
      color: #555;
    }
  }
  input[type='file']{
    display: none;
  }
}
/* cardify any area */
.cardify{
  @include cardify;
}

/* common toggle module css */
.toggle_title{
  display: block;
  padding: 30px 30px 25px;
   span.lnr{
     float: right;
     line-height: 20px;
     font-size: 14px;
   }
}

// single social area css goes here
.social_icon{
  display: inline-block;
  span{
    display: inline-block;
    line-height: 45px;
    width: 45px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
  }
  span.fa-facebook{
    background: #395799;
  }

  span.fa-twitter{
    background: #19b2f5;
  }
  span.fa-google-plus{
    background: #f05b44;
  }
  span.fa-behance{
    background: #0057ff;
  }
  span.fa-dribbble{
    background: #ea4c89;
  }
}

// input group
.input-group{
  .input-group-addon{
    background: none;
    border: none;
    font-size: 18px;
    color: #555;
    padding-left: 0;
  }
}

/* content area title */
.content_title{
  @extend .cardify;
  padding: 30px;
  border-radius: 4px;
  margin-bottom: 30px;
}

/* video modal css */
.video_modal{
  .modal-content{
    iframe{
      width: 600px;
      height: 450px;
    }
  }
}
#myModal.modal.fade .modal-dialog {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -60%);
  -ms-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);
}
.shortcode_module_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 3px;
}



@include customScrollbar(messages);
@include customScrollbar(offcanvas-menu);