@import "../../css/bootstrap/config.bs";
/*****************************
	-- MIXINS
*****************************/
/* container sizes for various devices */
$container-size: 1170px;

@mixin vertically_middle{
  display: inline-block;
  vertical-align: middle;
  margin-right: -3px;
}
@mixin cardShadow{
  -webkit-box-shadow: 0 2px 4px transparentize(#6c6f73, .9);
  -moz-box-shadow: 0 2px 4px transparentize(#6c6f73, .9);
  box-shadow: 0 2px 4px transparentize(#6c6f73, .9);
}

@mixin cardify{
  background: #fff;
  border-radius: 4px;
  //@include cardShadow;
}

@mixin rounded{
  border-radius: 200px;
}

@mixin gradient{
  background: linear-gradient(to left, $secondary, $primary);
}
// @param $parent is the parent of the element that will get focus on click
@mixin focusOnClick($focusecondary){
  &:active{
    background: darken($focusecondary, 3%);
  }
}


/* Custom scrollbar */
  @mixin customScrollbar($bla){
    #{$bla}::-webkit-scrollbar-track{
      background-color: transparent;
    }
    #{$bla}::-webkit-scrollbar{
      width: 6px;
      background-color: transparent;
    }
    #{$bla}::-webkit-scrollbar-thumb{
      background-color: #e9eef2;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }

// gradient
//$gradient: linear-gradient(to left, $secondary 0%,  $primary 100%);
@mixin gradient{
  background-image: linear-gradient(to left, $secondary 0%,  $primary 100%);
  /* Fallback (could use .jpg/.png alternatively) */
  background-color: $secondary;

  /* SVG fallback for IE 9 (could be data URI, or could use filter) */
  background: $primary;

  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  background-image:
          -webkit-gradient(linear, left top, right top, from($secondary), to($primary));

  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image:
          -webkit-linear-gradient(left, $secondary, $primary);

  /* Firefox 3.6 - 15 */
  background-image:
          -moz-linear-gradient(left, $secondary, $primary);

  /* Opera 11.1 - 12 */
  background-image:
          -o-linear-gradient(left, $secondary, $primary);

  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image:
          linear-gradient(to right, $secondary, $primary);
}

//center mixin
@mixin centered{
  display: flex;
  align-items: center;
  justify-content: center;
}