@import "../../css/bootstrap/config.bs";
/* RESET CSS */
/*****************************
	-- RESET
*****************************/
html{
  font-size: 15px;
}
body{
  position: relative;
  font-weight: 400;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
a:hover,a:focus{
  text-decoration: none;
  transition: 0.3s ease;
}
a:focus{
  outline: 0;
}
img{
  max-width: 100%;
}

button{
  margin: 0;
  padding: 0;
}
button:focus{
  outline: 0;
}

/* TYPOGRAPHY */
p{
  line-height: 26px;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  padding: 0;
}
a{
  @extend .color-primary;
}