
{% extends 'base.html'%}

{% block content %}
    <!-- ================================
    Start Hero Area
    ================================= -->
    <section class="hero-area hero-area4 bgimage">
        <div class="bg_image_holder">
            <img src="static/img/shape_2.png" alt="background-image">
        </div>
        <!-- start hero-content -->
        <div class="hero-content content_above">
            <!-- start .contact_wrapper -->
            <div class="content-wrapper">
                <!-- start .container -->
                <div class="container">
                    <!-- start row -->
                    <div class="row">
                        <!-- start col-md-12 -->
                        <div class="col-md-12">
                            <div class="hero__content__title">
                                <h1><span>7,685</span> Premium Templates & Website Themes</h1>
                                <p class="tagline">DigiPro is the most powerful, & customizable template for Easy Digital Downloads Products</p>
                            </div>
                            <!-- end .hero__btn-area-->
                            <!--start search-area -->
                             <div class="search-area">
                                <div class="row">
                                    <div class="col-lg-8 offset-lg-2">
                                        <!-- start .search_box -->
                                        <div class="search_box2">
                                            <form action="#">
                                                <input type="text" class="text_field" placeholder="Search your products...">
                                                <button type="submit" class="search-btn btn--lg btn-primary">Search Now</button>
                                            </form>
                                        </div>
                                        <!-- end ./search_box -->
                                    </div>
                                </div>
                            </div>
                            <!--start /.search-area -->
                        </div>
                        <!-- end /.col-md-12 -->
                    </div>
                    <!-- end /.row -->
                </div>
                <!-- end /.container -->
            </div>
            <!-- end .contact_wrapper -->
        </div>
        <!-- end hero-content -->
    </section>
    <!-- ================================
    End Hero Area
    ================================= -->

    <!-- ================================
    Start Featured Products
    ================================= -->
    <section class="featured-products2 p-top-80 p-bottom-50">
        <div class="container">
            <div class="row">
                <!-- Start .col-md-4 -->
                <div class="col-lg-4 col-md-6">
                    <div class="product-single latest-single">
                        <div class="featured-badge">
                            <span>Featured</span>
                        </div>
                        <div class="product-thumb">
                            <figure>
                                <img src="static/img/product1.png" alt="" class="img-fluid">
                                <figcaption>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="">
                                                <span class="icon-basket"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">Live Demo</a>
                                        </li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                        <!-- Ends: .product-thumb -->
                        <div class="product-excerpt">
                            <h5>
                                <a href="">E-commerce Shopping Cart</a>
                            </h5>
                            <ul class="product-facts clearfix">
                                <li class="price">$20</li>
                                <li class="sells">
                                    <span class="icon-basket"></span>81
                                </li>
                            </ul>
                        </div>
                        <!-- Ends: .product-excerpt -->
                    </div>
                    <!-- Ends: .product-single -->
                </div>
                <!-- Ends: .col-md-4 -->
            </div>
        </div>
    </section>
    <!-- ================================
    End Featured Products
    ================================= -->

    <!-- ================================
    Start Latest Product
    ================================= -->
    <section class="latest-product p-top-80 p-bottom-50">
        <div class="container">
            <div class="row">
                <!-- Start Section Title -->
                <div class="col-md-12">
                    <div class="section-title2">
                        <ul class="list-unstyled">
                            <li>
                                <h2>Newest Products</h2>
                            </li>
                            <li>
                                <a href="" class="btn btn-outline-primary">View All</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Ends: .col-md-12/Section Title -->
                <!-- Start .product-list -->
                <div class="col-md-12 product-list">
                    <div class="row">
                        <!-- Start .col-md-4 -->
                        <div class="col-lg-4 col-md-6">
                            <div class="product-single latest-single">
                                <div class="product-thumb">
                                    <figure>
                                        <img src="static/img/product1.png" alt="" class="img-fluid">
                                        <figcaption>
                                            <ul class="list-unstyled">
                                                <li>
                                                    <a href="">
                                                        <span class="icon-basket"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">Live Demo</a>
                                                </li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- Ends: .product-thumb -->
                                <div class="product-excerpt">
                                    <h5>
                                        <a href="">E-commerce Shopping Cart</a>
                                    </h5>
                                    <ul class="titlebtm">
                                        <li>
                                            <img class="auth-img" src="static/img/auth-img2.png" alt="author image">
                                            <p>
                                                <a href="#">Theme-Valley</a>
                                            </p>
                                        </li>
                                    </ul>
                                    <ul class="product-facts clearfix">
                                        <li class="price">$20</li>
                                        <li class="sells">
                                            <span class="icon-basket"></span>81
                                        </li>
                                    </ul>
                                </div>
                                <!-- Ends: .product-excerpt -->
                            </div>
                            <!-- Ends: .product-single -->
                        </div>
                        <!-- Ends: .col-md-4 -->
                </div>
                <!-- Ends: .product-list -->
            </div>
        </div>
    </section>
    <!-- ================================
    Ends Latest Product
    ================================= -->

    <!-- ================================
    Start Services
    ================================= -->
    <section class="services bgcolor">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="service-single">
                        <span class="icon-lock"></span>
                        <h4>Secure Paument</h4>
                        <p>Pellentesque facilisis kamcorper sapien interdum magna.</p>
                    </div>
                </div>
                <!-- Ends: .col-md-3 -->
                <div class="col-lg-3 col-md-6">
                    <div class="service-single">
                        <span class="icon-like"></span>
                        <h4>Quality Products</h4>
                        <p>Pellentesque facilisis kamcorper sapien interdum magna.</p>
                    </div>
                </div>
                <!-- Ends: .col-md-3 -->
                <div class="col-lg-3 col-md-6">
                    <div class="service-single">
                        <span class="icon-wallet"></span>
                        <h4>14 Days Money Backs</h4>
                        <p>Pellentesque facilisis kamcorper sapien interdum magna.</p>
                    </div>
                </div>
                <!-- Ends: .col-md-3 -->
                <div class="col-lg-3 col-md-6">
                    <div class="service-single">
                        <span class="icon-support"></span>
                        <h4>24/7 Customer Care</h4>
                        <p>Pellentesque facilisis kamcorper sapien interdum magna.</p>
                    </div>
                </div>
                <!-- Ends: .col-md-3 -->
            </div>
        </div>
    </section>
    <!-- ================================
    End Services
    ================================= -->

{% endblock content %}