{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% comment %} <form action="{% url 'core:item-new'%}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
 </form> {% endcomment %}
   
    START BREADCRUMB AREA
=================================-->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 breadcrumb-contents">
                <h2 class="page-title">Create your catering menu</h2>
                <div class="breadcrumb">
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end /.col-md-12 -->
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>
<!--================================
    END BREADCRUMB AREA
=================================-->

<!--================================
        START DASHBOARD AREA
=================================-->
<section class="dashboard-area">
    <div class="dashboard_menu_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button class="menu-toggler d-md-none">
                        <span class="icon-menu"></span> Dashboard Menu
                    </button>
                    <!-- end /.dashboard_menu -->
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </div>
    <!-- end /.dashboard_menu_area -->
    {% if request.user.is_authenticated %}
        <div class="dashboard_contents section--padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <form action="{% url 'core:item-new'%}" method="POST" enctype="multipart/form-data">
                            {{ form }}

                            {% csrf_token %}
                            <div class="upload_modules">
                                <div class="modules__title">
                                    <h4>Item Name & Description</h4>
                                </div>
                                <!-- end /.module_title -->

                                <div class="modules__content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group" >
                                                <label for="product_name">Product Name</label>
                                                <input type="text" id="product_name" class="text_field"
                                                    placeholder="Enter your product title">
                                            </div>
                                        </div><!-- ends:.col-md-6 -->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="category">Select Category</label>
                                                <div class="select-wrap select-wrap2">
                                                    <select name="country" id="category" class="text_field">
                                                        <option value="wordpress">Wordpress</option>
                                                        <option value="html">Html</option>
                                                        <option value="graphic">Graphics</option>
                                                        <option value="illustration">Illustration</option>
                                                        <option value="music">Music</option>
                                                        <option value="video">Video</option>
                                                    </select>
                                                    <span class="lnr icon-arrow-down"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end:.col-md-6 -->
                                        <div class="col-md-6">
                                            <div class="form-group" >
                                                <label for="product_name">Description</label>
                                            <textarea name="tags" id="tags" class="text_field" placeholder="Enter a brief description of the product..."></textarea>
                                            </div>
                                        </div>
                                        <!-- ends:.col-md-6 -->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="category">Select a label</label>
                                                <div class="select-wrap select-wrap2">
                                                    <select name="country" id="category" class="text_field">
                                                        <option value="wordpress">Wordpress</option>
                                                        <option value="html">Html</option>
                                                        <option value="graphic">Graphics</option>
                                                        <option value="illustration">Illustration</option>
                                                        <option value="music">Music</option>
                                                        <option value="video">Video</option>
                                                    </select>
                                                    <span class="lnr icon-arrow-down"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end:.col-md-6 -->
                                    </div>
                                </div>
                                <!-- end /.modules__content -->
                            </div>
                            <!-- end /.upload_modules -->
                            <div class="upload_modules pricing--info">
                                <div class="modules__title">
                                    <h4>Price Information</h4>
                                </div>
                                <!-- end /.module_title -->

                                <div class="modules__content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="rlicense">Regular Price</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">$</span>
                                                    <input type="text" id="rlicense" class="text_field" placeholder="10">
                                                </div>
                                            </div>
                                        </div><!-- end /.col-md-6 -->

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exlicense">Discount Price</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">$</span>
                                                    <input type="text" id="exlicense" class="text_field" placeholder="5">
                                                </div>
                                            </div>
                                        </div><!-- end /.col-md-6 -->
                                    </div>
                                    <!-- end /.row -->
                                </div>
                                <!-- end /.modules__content -->
                            </div>
                            <!-- end /.upload_modules -->

                            <div class="upload_modules module--upload">
                                <div class="modules__title">
                                    <h4>Upload an Image for your product</h4>
                                </div>
                                <!-- end /.module_title -->

                                <div class="modules__content">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12">
                                            <div class="form-group">
                                                <div class="upload_wrapper">
                                                    <div class="upload-field">
                                                        <div class="custom_upload">
                                                            <label for="thumbnail">
                                                                <input type="file" id="thumbnail" class="files">
                                                                <span class="btn btn-primary btn--md"><i
                                                                        class="icon-cloud-upload"></i>Upload File</span>
                                                            </label>
                                                        </div> <!-- end /.custom_upload -->
                                                        <p>Upload Thumbnail
                                                            <span>(JPEG or PNG 100x100px)</span>
                                                        </p>
                                                    </div>
                                                </div><!-- ends:.upload_wrapper -->
                                            </div><!-- ends: .form-group -->
                                        </div><!-- ends:.col-md-6 -->

                                        <div class="col-lg-6 col-md-12">
                                            <div class="progress-single">
                                                <div class="progress_wrapper">
                                                    <div class="labels d-flex justify-content-between">
                                                        <p>Thumbnail.jpg</p>
                                                        <span data-width="89">89%</span>
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                                            aria-valuemin="0" aria-valuemax="100" style="width: 89%;">
                                                            <span class="sr-only">70% Complete</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end /.progress_wrapper -->
                                                <div class="upload_cross">
                                                    <span><img src="images/cancel.svg" alt="" class="svg"></span>
                                                </div>
                                            </div><!-- ends: .progress-single -->
                                        </div><!-- ends: .col-md-6 -->

                                    </div><!-- ends: .row -->
                                </div><!-- ends .module_content -->
                            </div><!-- end /.upload_modules -->
                            <div class="btns m-top-40">
                                <button type="submit" class="btn btn-lg btn-primary m-right-15">Submit item to your menu
                                </button>
                                <button type="submit" class="btn btn-lg btn-danger">Cancel</button>
                            </div>
                        </form>
                    </div>
                    <!-- end /.col-md-8 -->
                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.container -->
        </div>
    <!-- end /.dashboard_menu_area -->    
</section>
<!--================================
        END DASHBOARD AREA
=================================-->

{% else %}
            <!--================================
            START SIGNUP AREA
    =================================-->
        <section class="signup_area section--padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                            <form class="form-group" id="signup_form" method="post" action="{% url 'account_signup' %}">
                                <div class="cardify signup_form">
                                    <div class="login--header">
                                        <h3>Create Your Account First </h3>
                                        <p>Already have an account?
                                            <a href="{% url 'account_login' %}">Login</a>
                                        </p>
                                    </div>
                                    <!-- end .login_header -->
                                </div>
                            <!-- end .cardify -->
                        </form>
                    </div>
                    <!-- end .col-md-6 -->
                </div>
                <!-- end .row -->
            </div>
            <!-- end .container -->
        </section>
    <!--================================
            END SIGNUP AREA
    =================================--> 
  {% endif %} 

{% endblock content %}