//this scss file contains the necessary style for menu style 1, changing this file will result on change of menu containing modifier class .menu--stye1

/*****************************
	--- MENU
*****************************/
.menu--style1{
  .top-menu-area{
    background: #fff;
  }
  .mainmenu,.mainmenu__menu{
    @extend .bg-primary;
  }
  .mainmenu__menu ul li {
     &:hover{
      a{
        color: #333;
      }
    }
    a{
      color: #fff;
    }
  }
  .searc-wrap input{
    background: transparentize(#fff,.8);
    border: 0;
    color: #ffffff;
    font-weight: 400;
  }
  .searc-wrap input::-webkit-input-placeholder {
    color: #fff;
  }
  .searc-wrap input::-moz-placeholder{
    color: #fff;
  }
  .searc-wrap input:-ms-input-placeholder{
    color: #fff;
  }
  .searc-wrap .search-wrap__btn{
    background: #fff;
    @extend .color-primary;
  }
}
.shortcode_wrapper+.shortcode_wrapper{
    margin-top: 50px;
}

.menu--light{
  .top-menu-area{
    background: transparent;
    border-bottom: 1px solid rgba(#fff, 0.1);
    .logo-top{
      padding: 19px 35px 19px 20px;
      border-color: rgba(#fff, 0.1);
    }
  }
  .mainmenu__menu .navbar-nav > li{
    &:hover{
      >a{
        @extend .color-secondary;
      }
    }
    >a{
      color: #fff;
    }
  }
  .search-form button,
  .author__notification_area ul li span:first-child{
    color: rgba(255,255,255,0.8);
  }
  .author__notification_area ul li .notification_count.purch{
    background: $secondary;
  }
  .author__notification_area{
    border-color: rgba(#fff, 0.1);
    ul li{
      padding: 30px 0;
    }
  }
  .search-wrapper{
    .search_module{
      .search_trigger{
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

.search-wrapper{
  position: relative;
  padding-right: 30px;
  .search_module{
    .search_trigger{
      cursor: pointer;
    }
    .search_area {
      position: absolute;
      right: 60px;
      opacity: 0;
      visibility: hidden;
      padding: 0 20px;
      top: calc(100% - 37px);
      background: #ffffff;
      border: 1px solid $border-color;
      z-index: 2;
      transition: .3s ease;
      border-radius: 3px;
      width: 0;
      form{
        .input-group{
          display: flex;
          align-items: center;
          .icon-left{
            padding-top: 7px;
            display: none;
          }
          input{
            border: 0 none;
            padding: 0 0 0 10px;
            &:focus{
              border: 0 none !important;
            }
          }
        }
      }
    }
  }
}
.search-wrapper .search_module .search_area.active {
  opacity: 1;
  visibility: visible;
  width: 300px;
  form .input-group .icon-left{
    display: block;
  }
}